body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    background-color: #5b5b5b;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat {
    display: flex; /* 이 속성으로 인해 .chat 내의 모든 자식 요소는 가로로 정렬됩니다. */
    justify-content: space-around; /* 자식 요소 간에 공간을 균등하게 배분 */
}

.chat-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #d3d3d3;
    flex-wrap: wrap;
}

.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
    margin: 5px;
}

.chat-window {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 15px;
    overflow-y: auto;
}

.message, .message-response {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #333;
}

.message {
    background-color: #ffffff;
    align-self: flex-start;
}

.message-response {
    background-color: #aad4ff;
    align-self: flex-end;
}

.app-footer {
    background-color: #5b5b5b;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.icon {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

@media (max-width: 600px) {
    .app-footer button {
        font-size: 12px;
    }
}